<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tags_recipe.tag.tag_name %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @tags_recipe.recipe.recipe_name %>
</p>

<%= link_to 'Add more tags', :back %> |
<%= link_to 'Back to Recipe page', recipe_path(@tags_recipe.recipe_id) %>
