<%= form_for(recipe) do |f| %>
    <%= error_messages_for_recipes(f.object)%>

  <div class="field form-group">
    <%= f.label :recipe_name %>
    <%= f.text_field :recipe_name %>
  </div>

  <div class="field form-group">
    <%= f.label :instructions %>
    <%= f.text_field :instructions %>
  </div>

  <div class="field form-group">
    <%= f.label :complexity %>
    <%= f.number_field :complexity %>
  </div>

  <div class="field form-group">
    <%= f.submit %>
  </div>

<% end %>
