<%= form_for(recipe, html: {multipart: true}) do |f| %>
    <%= error_messages_for_recipes(f.object)%>

    <div class="form-group">
      <%= f.label 'Main Recipe Image' %>
      <%= f.file_field :image %>
      <small>
        This image will be the image that identifies your recipe. <br>
        You can add more images to this recipe via the edit page.
      </small>
    </div>

    <div class="field form-group">
      <%= f.label :recipe_name %>
      <%= f.text_field :recipe_name,{class: 'form-control'} %>
     </div>

    <div class="field form-group">
      <%= f.label :instructions %>
      <%= f.text_field :instructions,{class: 'form-control'} %>
    </div>

    <div class="field form-group">
      <%= f.label :complexity %>
      <%= f.number_field :complexity,{class: 'form-control'} %>
    </div>

    <div class="field form-group">
      <% if recipe.user == nil %>
        <%= f.submit 'Create', {class: 'btn btn-primary'} %>
      <% else %>
        <%= f.submit 'Save', {class: 'btn btn-primary'} %>
      <% end %>
    </div>

<% end %>

