<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Recipes</h1>
</div>
<div class="container">

  <% outerLoop = (@recipes.length/4.0).ceil %>
  <% innerLoopCounter = 0 %>
  <% accessCounter = 0 %>
  <table class="table table-bordered table-condensed">
  <!--Loop-->
  <% outerLoop.times do %>
    <tr>

    <% until innerLoopCounter == 4 || @recipes[accessCounter].nil? do %>
      <td style="text-align: center">
          <%= link_to @recipes[accessCounter] do %>
            <% if !@recipes[accessCounter].image.blank? %>
                <%= image_tag @recipes[accessCounter].image_url(:fb_small).to_s %>
            <% else %>
                <%= image_tag '/recipePlaceholder.jpg', style: 'height:50px; width:50px'%>
            <% end %>
          <% end %>
            <h5><%= @recipes[accessCounter].recipe_name %></h5>
            <p>
              <%= link_to 'Show Tags', @recipes[accessCounter], :class => 'btn btn-default btn-xs'  %>
              <%= link_to 'Email Recipe', mail_recipe_path(@recipes[accessCounter]), :class => 'btn btn-default btn-xs' %>
              <% if (current_user && @recipes[accessCounter].user_id == current_user.id )|| is_admin %>
                  <%= link_to 'Edit', edit_recipe_path(@recipes[accessCounter]), class: 'btn btn-warning btn-xs' %>
                  <%= link_to 'Destroy', @recipes[accessCounter], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
              <% end %>
              <% if is_admin %>
                  <%= link_to 'Newsletter', spam_recipe_path(@recipes[accessCounter]),class: 'btn btn-default btn-xs' %>
              <% end %>
            </p>
      </td>
      <% innerLoopCounter = innerLoopCounter + 1 %>
      <% accessCounter += 1 %>
    <% end %>
      <% innerLoopCounter = 0 %>
    </tr>
  <% end %>
  </table>
</div>


<!--<div class="container">-->
  <!--<table class="table table-bordered">-->
    <!--<thead>-->
      <!--<tr>-->
        <!--<th>Recipe</th>-->
        <!--<td>View Count</td>-->
        <!--<th>Image</th>-->
        <!--<th>User</th>-->
        <!--<th>Recipe name</th>-->
        <!--<th>Instructions</th>-->
        <!--<th>Complexity</th>-->
        <!--<th colspan="5">Options</th>-->
      <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<% @recipes.each do |recipe| %>-->
            <!--<tr>-->
              <!--<td><%= recipe.id %></td>-->
              <!--<td><%= recipe.impressions_count %></td>-->
              <!--<td>-->
                <!--<%= link_to recipe do %>-->
                  <!--<% if !recipe.image.blank? %>-->
                      <!--<%= image_tag recipe.image_url(:thumb).to_s %>-->
                  <!--<% else %>-->
                      <!--<%= image_tag '/recipePlaceholder.jpg', style: 'height:50px; width:50px'%>-->
                  <!--<% end %>-->
                <!--<% end %>-->
              <!--</td>-->

              <!--<td><%= link_to recipe.user.user_name, recipe.user %></td>-->
              <!--<td><%= recipe.recipe_name %></td>-->
              <!--<td><%= recipe.instructions %></td>-->
              <!--<td><%= recipe.complexity %></td>-->
              <!--<td><%= link_to 'Show Tags', recipe %></td>-->
              <!--<td><%= link_to 'Email Recipe', mail_recipe_path(recipe) %></td>-->
              <!--<% if (current_user && recipe.user_id == current_user.id )|| is_admin %>-->
                <!--<td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>-->
                <!--<td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
              <!--<% end %>-->
              <!--<% if is_admin %>-->
                <!--<td><%= link_to 'Newsletter', spam_recipe_path(recipe) %></td>-->
              <!--<% end %>-->
            <!--</tr>-->
    <!--<% end %>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->

<!-- going to be removed?
<% if current_user || is_admin %>
  <%= link_to 'New Recipe', new_recipe_path, {class: 'btn btn-default'} %> ||
  <%= link_to 'Add New Tag to a Recipe', new_tags_recipe_path, {class: 'btn btn-default'}%>
<% end %>
-->
