<% if notice %>
    <div class="container">
      <div class="alert alert-info">
        <strong id="notice"><%= notice %></strong>
      </div>
    </div>
<% end %>

<div class="container">
  <!--Recipe's main image-->
  <% if !@recipe.image.blank? %>
    <div class="thumbnail">
      <%= image_tag @recipe.image_url(:medium).to_s %>
    </div>
  <% end %>

  <!-- About the recipe-->
  <ul class="list-group">
    <li class="list-group-item"> <strong>Recipe:</strong> <%= @recipe.id %></li>
    <li class="list-group-item"> <strong>User:</strong> <%= @recipe.user.user_name %></li>
    <li class="list-group-item"> <strong>Recipe name:</strong>  <%= @recipe.recipe_name %> </li>
    <li class="list-group-item"> <strong>Instructions:</strong> <%= @recipe.instructions %></li>
    <li class="list-group-item"> <strong>Complexity:</strong> <%= @recipe.complexity %></li>
  </ul>
</div>

<div class="container">
  <% if @recipe_images.empty? %>
    <p> No images to display</p>
  <% end %>
<!--Recipes other images-->
  <% @recipe_images.each do |image|%>
      <div class="thumbnail">
        <%= image_tag image.image_url(:medium).to_s %>
        <%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%>
      </div>
  <% end %>
</div>

<p>
  <strong>Tags:</strong>
    <% @tags_recipes.each do |tags_recipe| %>
      <% if tags_recipe.recipe_id == @recipe.id%>
          <a href="/recipes?tag[]=<%= tags_recipe.tag.id %>"><%= tags_recipe.tag.tag_name %></a>
          <%= link_to 'Destroy', tags_recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
    <% if current_user && (current_user == @recipe.user) || is_admin %>
	
	//edit
    <% end %>
</p>


<% if current_user && (current_user == @recipe.user) %>
    <%= link_to 'Add New Image', new_recipe_image_path(:recipe_id => @recipe.id), {class: 'btn btn-primary'} %> 
<% end %>

<% if (current_user && @recipe.user.id == current_user.id )|| is_admin %>
    <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Back', recipes_path %>
