<p id="notice"><%= notice %></p>

<div class="container">
  <div class="thumbnail">
    <%= image_tag @recipe.image_url(:medium).to_s %>
  </div>

  <ul class="list-group">
    <li class="list-group-item"> <strong>Recipe:</strong> <%= @recipe.id %></li>
    <li class="list-group-item"> <strong>User:</strong> <%= @recipe.user.user_name %></li>
    <li class="list-group-item"> <strong>Recipe name:</strong>  <%= @recipe.recipe_name %> </li>
    <li class="list-group-item"> <strong>Instructions:</strong> <%= @recipe.instructions %></li>
    <li class="list-group-item"> <strong>Complexity:</strong> <%= @recipe.complexity %></li>
  </ul>
</div>

<p>
  <strong>Tags:</strong>
    <% @tags_recipes.each do |tags_recipe| %>
    <% if tags_recipe.recipe_id == @recipe.id || is_admin %>
        <td><%= tags_recipe.tag.tag_name %></td>
    <% end %>
    <% end %>
</p>

<% if (current_user && @recipe.user.id == current_user.id )|| is_admin %>
    <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Back', recipes_path %>
