<%= form_for(user) do |f| %>
      <%= error_messages_for(f.object)%>

      <%= f.label "* fields are required" %>

      <div class="field form-group">
        <%= f.label :user_name, "*User name" %>
        <%= f.text_field :user_name ,{class: 'form-control'}%>
      </div>

      <div class="field form-group">
        <%= f.label :password, "*Password" %>
        <%= f.password_field :password ,{class: 'form-control'}%>
      </div>

      <div class="field form-group ">
        <%= f.label :email, "*Email" %>
        <%= f.text_field :email ,{class: 'form-control'}%>
      </div>

      <div class="field form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name ,{class: 'form-control'}%>
      </div>

      <div class="field form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name,{class: 'form-control'} %>
      </div>

      <%= f.hidden_field :privileges %>
      <%= f.hidden_field :user_level %>
      <%= f.hidden_field :points %>
      <%= f.hidden_field :provider %>
      <%= f.hidden_field :uid %>

      <div class="actions">
        <%= f.submit 'Sign Up',{class: 'btn btn-primary'}   %>
      </div>

<% end %>
