<!DOCTYPE html>
<html>
  <head>
    <title>Editing <%= @user.user_name %></title>
  </head>

  <body>
    <div  class="container" id="big_container">
        <div class="page-header" id="top_bar">
          <h1>Editing User: <%= @user.user_name %></h1>
        </div>
	      <%= render 'form', user: @user %>
	      <%= link_to 'Show', @user %> |
		  <%= link_to 'Back', users_path %>
		</div>

  </body>
</html>




