<!DOCTYPE html>
<html>
<head>
  <title><%= @user.user_name %></title>
</head>
<body>

<div class="container">
  <p id="notice"><%= notice %></p>
  <!--Page header-->
  <div class="page-header">
    <h1>
      <strong><%= @user.user_name %></strong> <small><strong>| Level:</strong> <%= @user.user_level %>
      <strong>| Privileges:</strong> <%= @user.privileges %>
      <strong>| Points:</strong> <%= @user.points %></small>
    </h1>
  </div>

  <div class="container">

    <!--User Image-->
    <div class="row">
      <div class="col-md-3">
        <!--Display user image-->
        <div class="thumbnail" id="img-display">
          <%= image_tag @user.image_url(:medium).to_s %>
        </div>
        <!--Form to edit user image-->
        <div id="img-edit">
          <% if have_permission %>
              <%= form_for(@user, :html => {:multipart => true,:class => "form-inline"}) do |f| %>
                  <%= error_messages_for_users(f.object)%>
                  <div class="field form-group">
                    <%= f.file_field :image,{class: 'form-control'}%>
                  </div>
                  <%= f.submit 'Change image',{class: 'btn btn-primary'}   %>
              <% end %>
          <% end %>
        </div>
        <!--Button to hide/show form-->
        <% if have_permission %>
          <p class="btn btn-default" id="img-edit-button"> EDIT-IMG </p>
        <% end %>
      </div>
    </div> 
  </div>

  <!--User Biography-->
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
      <!--Display user bio-->
      <div id="bio-display">
        <p><%= simple_format(@user.bio) %></p>
      </div>
      <!--Form for user bio-->
      <div id="bio-edit">
        <%= form_for(@user, :html => {:class => "form-inline"}) do |f| %>
            <%= error_messages_for_users(f.object)%>
            <div class="field form-group">
              <%= f.text_area :bio ,{class: 'form-control'}%>
            </div>
            <%= f.submit 'Update bio',{class: 'btn btn-primary'}   %>
        <% end %>
      </div>
      <!--Button to hide/show form-->
      <% if have_permission %>
        <p class="btn btn-default" id="bio-edit-button"> EDIT-BIO </p>
      <% end %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2">
      <p>
        <strong>User name:</strong>
        <%= @user.user_name %>
      </p>
    </div>

    <div class="col-md-4">
      <% if have_permission %>
          <%= form_for(@user, :html => {:class => "form-inline"}) do |f| %>
              <%= error_messages_for_users(f.object)%>
              <div class="field form-group">
                <%= f.text_field :user_name ,{class: 'form-control'}%>
              </div>
              <%= f.submit 'Edit Name',{class: 'btn btn-primary'}   %>
          <% end %>
      <% end %>
    </div>
  </div>

  <% if have_permission %>
      <div class="row">
        <div class="col-sm-2">
          <p>
            <strong>Password:</strong>
            <%= @user.password %>
          </p>
        </div>

        <div class="col-md-4">
          <%= form_for(@user, :html => {:class => "form-inline"}) do |f| %>
              <%= error_messages_for_users(f.object)%>
              <div class="field form-group">
                <%= f.text_field :password ,{class: 'form-control'}%>
              </div>
              <%= f.submit 'Edit Password',{class: 'btn btn-primary'}   %>
          <% end %>
        </div>

      </div>
  <% end %>

  <div class="row">
    <div class="col-sm-2">
      <p>
        <strong>First name:</strong>
        <%= @user.first_name %>
      </p>
    </div>

    <div class="col-md-4">
      <% if have_permission %>
          <%= form_for(@user, :html => {:class => "form-inline"}) do |f| %>
              <%= error_messages_for_users(f.object)%>
              <div class="field form-group">
                <%= f.text_field :first_name ,{class: 'form-control'}%>
              </div>
              <%= f.submit 'Edit Name',{class: 'btn btn-primary'}   %>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <p>
        <strong>Last name:</strong>
        <%= @user.last_name %>
      </p>
    </div>

    <div class="col-md-4">
      <% if have_permission %>
          <%= form_for(@user, :html => {:class => "form-inline"}) do |f| %>
              <%= error_messages_for_users(f.object)%>
              <div class="field form-group">
                <%= f.text_field :last_name ,{class: 'form-control'}%>
              </div>
              <%= f.submit 'Edit Name',{class: 'btn btn-primary'}   %>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
    </div>

    <div class="col-md-4">
      <% if have_permission %>
          <%= form_for(@user, :html => {:class => "form-inline"}) do |f| %>
              <%= error_messages_for_users(f.object)%>
              <div class="field form-group">
                <%= f.text_field :email ,{class: 'form-control'}%>
              </div>
              <%= f.submit 'Edit Email',{class: 'btn btn-primary'}   %>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% if is_admin %>
        <div class="col-xs-1">
          <%= form_for(@user, :html => {:class => "form-inline"}) do |f| %>
              <%= error_messages_for_users(f.object)%>
              <div class="field form-group">
                <%= f.hidden_field :privileges, :value => 1 %>
              </div>
              <%= f.submit 'MakeAdmin',{class: 'btn btn-primary'}   %>
          <% end %>
        </div>

        <div class="col-xs-1">
          <%= form_for(@user, :html => {:class => "form-inline"}) do |f| %>
              <%= error_messages_for_users(f.object)%>
              <div class="field form-group">
                <%= f.hidden_field :privileges, :value => 0 %>
              </div>
              <%= f.submit 'MakeNormal',{class: 'btn btn-primary'}   %>
          <% end %>
        </div>
    <% end %>
  </div>

  <!--Display Recipes-->


</div>
<div class="panel panel-primary">
  <div class="panel-heading">Recipes</div>
  <div class="panel-body">
    <% @recipes.each do |recipe|%>
        <p>
          <%= link_to recipe, class:'doNotHover' do %>
            <% if !recipe.image.blank? %>
              <%= image_tag recipe.image_url(:thumb).to_s %>
            <% else %>
              <%= image_tag '/recipePlaceholder.jpg', style: 'height:50px; width:50px'%>
            <% end %>
          <% end %>
          <%= recipe.recipe_name %>
        </p>
    <% end %>
  </div>
  <%= paginate @recipes%>
</div>
</body>
</html>