<!DOCTYPE html>
<html>
  <head>
    <title><%= @user.user_name %></title>
  </head>
  <body>
    <div class="page-header">
    <h1>
      <strong><%= @user.user_name %></strong> <small><strong>| Level:</strong> <%= @user.user_level %>
      <strong>| Privileges:</strong> <%= @user.privileges %>
      <strong>| Points:</strong> <%= @user.points %></small>
    </h1>
    <span>
          <% if (current_user && session[:user_id] == current_user.id) || is_admin %>
          <%= link_to 'Edit',edit_user_path(@user)%>
        <% end %>
        </span>
  </div>
    <div class="container">
      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag @user.image_url(:medium).to_s %>
          <div class="caption">
            <h3>About Me</h3>
            <p><%= simple_format(@user.bio) %></p>
          </div>
        </div>
      </div>
      <!--Display Recipes-->
    </div>
    <div class="container">
      <ul class="list-group">
        <% @recipes.each do |recipe|%>
            <li class="list-group-item"><%= recipe.recipe_name %></li>
            <li><%= link_to 'View',recipe_path(recipe) %></li>
        <% end %>
        <%= paginate @recipes%>
      </ul>
    </div>
  </body>
</html>

