<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title>MasterChef</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if content_for? :for_head %>
        <%= yield :for_head %>
    <% end %>
  </head>

  <!--        Navigation bar -->
  <nav class="navbar navbar-default navbar-static-top-top">

    <div class="navbar-header">
      <div class="navbar-brand">
        <%= link_to('MasterChef', root_path)%>
      </div>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
	    <li><%= link_to('Recipes', recipes_path)%></li>
      <!--
        <a href="/recipes" class="dropdown-toggle" data-toggle="dropdown">Recipes <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a> Sort by:</a></li>
          <li class="divider"></li>
          <li><%= link_to 'Difficulty', '#' %></li>
          <li><%= link_to 'Rating', '#' %></li>
        </ul>
    -->
      <li><%= link_to('Contact Us','#')%></li>
      <% if is_admin %>
        <li><%= link_to('UserList',users_path)%></li>
        <li><%= link_to('Tags', tags_path)%></li>
        <li><%= link_to('Tags-Recipe', tags_recipes_path)%></li>
      <% else %>
      <li><%= link_to('Tag Search', tags_path)%></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="padding-right:20px;">
	<!--
      <li>
        <%= form_tag '#;', {class: 'navbar-form', style: 'padding-right: 0px'} do %>
            <div class="form-group">
              <%= text_field_tag 'search', nil, {class: 'form-control', placeholder: 'Search for recipes'}%>
              <%= submit_tag('Search',{class: 'btn btn-default'}) %>
            </div>
        <% end %>
      </li>
	-->
      <% if current_user%>
          <li><%= link_to("#{current_user.user_name}",user_path(session[:user_id])) %></li>
          <li><%= link_to('Log Out',sessions_destroy_path)%></li>
          <li><%= link_to 'Create New Recipe', new_recipe_path %></li>
      <% else %>
          <li><%= link_to 'Login Facebook','/auth/facebook' %></li> <!-- path has to start with a '/' otherwise routing errors...-->
          <li><%= link_to 'Login', sessions_login_path %></li>
          <li><%= link_to 'Sign Up', new_user_path(linked_param: true) %></li>
      <% end %>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
